*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: 16px;
  color: #293845;
}

.navbar {
  background-color: #293845;
  padding: 1rem;
}

.section {
  padding: 4rem 1rem;
  background-color: rgb(251, 253, 254);
}

.section-lg {
  padding: 8rem 1rem;
  background-color: rgb(251, 253, 254);
}

.narrow-container {
  margin: 0 auto;
  max-width: 36rem;
  width: 100%;
}

.section-title {
  font-size: 5rem;
}

.section-desc {
  font-size: calc(1em + 1vw);
}

.text-center {
  text-align: center;
}

.charts {
  width: 100%;
  height: inherit;
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 1.5rem;
  
}

.plotGenre{
  width: 95%;
  margin: auto;
}

.plotGenre > canvas {
  font-size: 1.2rem;
}

.plotYear{
  width: 95%;
  margin: auto;
}

.error{
  margin: 2rem auto;
  font-size: 4rem;
}

.note{
  font-size: 3.5 rem;
  margin: 1rem 0;
}

.disabled{
  display: none;
}


@media screen and (max-width:1024px){
  .charts{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  
}
